<footer class="footer bg-light text-black">
    <div class="container d-flex flex-column justify-content-between h-100">
      
      <!-- Links Section -->
      <div class="row mt-4">
        <!-- Left Side Links -->
        <div class="col-md-6 d-flex flex-column align-items-start">
          <h5>Categories</h5>
          <a href="#" class="text-black text-decoration-none">Home</a>
          <a href="#" class="text-black text-decoration-none">About Us</a>
          <a href="#" class="text-black text-decoration-none">Services</a>
          <a href="#" class="text-black text-decoration-none">Contact</a>
        </div>
  
        <!-- Right Side Links -->
        <div class="col-md-6 d-flex flex-column align-items-end">
          <h5>Resources</h5>
          <a href="#" class="text-black text-decoration-none">Privacy Policy</a>
          <a href="#" class="text-black text-decoration-none">Terms of Service</a>
          <a href="#" class="text-black text-decoration-none">Support</a>
          <a href="#" class="text-black text-decoration-none">FAQ</a>
        </div>
      </div>
  
      <!-- Social Media Section -->
      <div class="text-center mt-3">
        <a href="#" class="text-black mx-2"><i class="fab fa-facebook fa-2x"></i></a>
        <a href="#" class="text-black mx-2"><i class="fab fa-twitter fa-2x"></i></a>
        <a href="#" class="text-black mx-2"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#" class="text-black mx-2"><i class="fab fa-linkedin fa-2x"></i></a>
      </div>
  
      <!-- Copyright Section -->
      <div class="text-center py-3">
        &copy; 2024 Your Company. All Rights Reserved.
      </div>
  
    </div>
  </footer>
  