.footer {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 20px;
    color:black !important;

  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer .fab {
    transition: transform 0.3s ease-in-out;
  }
  
  .footer .fab:hover {
    transform: scale(1.2);
  }
  