
  .popup {
    opacity:1;
    position: fixed;
    top: 60px;
    right: 20px;
    background: #f1f1f1d9;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 300px;
    display: flex;
    align-items: center;
    animation: bounceIn 0.5s ease-in-out;
    z-index: 1000 !important;

    .popup-content {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  
    .popup-image {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 8px;
      border: 1px solid #ddd;
    }
  
    .popup-details {
      flex: 1;
    }
  
    .popup-title {
      font-weight: bold;
      font-size: 16px;
      margin-bottom: 5px;
    }
  
    .popup-count {
      margin-top: 10px;
      font-size: 14px;
      color: #555;
    }
  }
  
  /* Bounce Animation */
  @keyframes bounceIn {
    0% { transform: scale(0.8); opacity: 0; }
    60% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1); }
  }
  