<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">M-Cart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown" *ngFor="let gender of genderKeys">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{gender}}
          </a>
          <ul class="dropdown-menu dropdown-wide" aria-labelledby="navbarDropdown">
            <li *ngFor="let category of categoriesByGender[gender]" class="category-column">
              <h6 class="dropdown-header">{{category.name}}</h6>
              <ul class="subcategory-list">
                <li *ngFor="let sub of category.subCategories">
                  <a class="dropdown-item" (click)="showProducts(sub.slug)">{{ sub.name }}</a>
                </li>
              </ul>
              <hr class="dropdown-divider">
            </li>
          </ul>
        </li>
      </ul>
      
      <ul class="navbar-nav align-items-center">
        <!-- Wishlist Button -->
        <li class="nav-item me-3">
          <a href="#" class="btn btn-outline-secondary position-relative">
            <i class="bi bi-heart"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="wishlistCount" style="display: none;">0</span>
          </a>
        </li>
        
        <!-- Cart Button -->
         <!-- Cart Button -->
         <li class="nav-item me-3">
          <a href="#" class="btn btn-outline-primary position-relative">
            <i class="bi bi-cart"></i>
            <!-- Update the cart count badge -->
            <span
              class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
              id="cartCount"
              [style.display]="cartCount > 0 ? 'block' : 'none'"
            >
              {{ cartCount }}
            </span>
          </a>
        </li>
        <app-popup-cart></app-popup-cart>
        <!-- Profile Dropdown -->
        <li class="nav-item dropdown">
          <a class="btn btn-outline-dark dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-wide" aria-labelledby="profileDropdown">
            <li><a class="dropdown-item" href="#">Orders</a></li>
            <li><a class="dropdown-item" href="#">Wishlist</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <button type="button" class="btn btn-primary btn-sm">Login/Signup</button>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Bootstrap Icons CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

