li
{
list-style: none;
}
.dropdown-wide {
    min-width: 250px;
  }
  #loginbtn
  {
    margin-left: 20px;
  }

.navbar-brand img {
  width: 150px; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}
.navbar-brand img {
  margin-right: 20px; /* Add space to the right of the logo */
  padding: 10px; /* Add padding around the logo */
  margin-left: 10px;
}
.navbar-brand {
  display: flex;
  align-items: center; /* Center vertically */
}

.navbar-brand img {
  width: 100px; /* Default size */
  height: auto;
}
.navbar-brand img:hover 
{
  cursor: pointer;
}
@media (max-width: 768px) {
  .navbar-brand img {
    width: 100px; /* Smaller size for tablets */
  }
}

@media (max-width: 480px) {
  .navbar-brand img {
    width: 80px; /* Smaller size for mobile */
  }
}

.dropdown-header
{
  color: #66371c;
  font: bold;
  font-size:medium ;
}
.dropdown-item
{
  opacity: 0.6;
}
.dropdown-item:hover
{
  opacity: 1;
  background: white;
  cursor: pointer;
  font: bold;
  font-size: large;
}