<header class="main-header">
    <div class="container">
      <div class="logo">MCart</div>
  
      <nav class="nav-menu">
        <ul class="menu-list">
          <li class="menu-item" *ngFor="let gender of genderKeys">
            <span class="gender-name">{{ gender }}</span>
            <ul class="gender-dropdown">
              <div class="category-grid">
                <li *ngFor="let category of categoriesByGender[gender]" class="category-column">
                  <span class="category-title">{{ category.name }}</span>
                  <ul class="subcategory-list">
                    <li *ngFor="let sub of category.subCategories">
                      <a [routerLink]="'/product/category/' + sub.slug">{{ sub.name }}</a>
                    </li>
                  </ul>
                </li>
              </div>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>