.search-container {
    position: relative;
    width: 800px;
  }
  .search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    opacity: 0.6;
    background-color: rgb(250, 250, 250);
  }
  .search-input:hover
  {
    border-color: #66371c;
    background-color: white;
  }
  .search-input:focus
  {
    border-color: #66371c;
    opacity: 1;
    background-color: white;
    font-family: sans-serif;  
  }

  .search-input::selection
  {
    background-color: white;
  }

  input:focus, textarea:focus, select:focus {
    outline: none !important;
    border-color: inherit !important;
}

  .suggestions {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    border-top: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
  }
  
  .suggestions li {
    padding: 8px;
    cursor: pointer;
  }
  
  .suggestions li:hover {
    background: #f1f1f1;
  }
  